.profile-container {
    display: flex;
    width: 75%;
    height: 75vh;
    margin: 0 auto;
}

.card-profile, .rankings-card {
    width: 15vw;
    height: auto;
    background-color: var(--lumo-background-color);
    border-radius: var(--lumo-border-radius-m);
    box-shadow: var(--lumo-box-shadow-s);
    padding: var(--lumo-space-m);
    margin: var(--lumo-space-m);
}

.card-profile-layout, .rankings-card-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card-avatar {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    user-select: none;
}

.profile-role-image {
    width: 10%;
    height: 10%;
    user-select: none;
    margin-right: 5%;
}

.last-summoner-names {
    width: 40%;
}

.role-keypoint {
    border: 2px solid var(--lumo-primary-color);
    border-radius: var(--lumo-border-radius-s);
    display: flex;
    line-height: 1;
    padding: 0.5rem;
    align-items: center;
}

.ranking-keypoint {
    border: 2px solid var(--lumo-primary-color);
    border-radius: var(--lumo-border-radius-s);
    display: flex;
    justify-content: space-between;
    line-height: 1;
    padding: 0.5rem;
    transition: all .2s ease-in-out;
    user-select: none;
    width: 100%;
}

.ranking-keypoint:hover {
    background-color: var(--lumo-shade-10pct);
    border-color: var(--lumo-primary-color);
    color: var(--lumo-primary-color);
    cursor: pointer;
}

.card-profile-layout h1 {
    font-weight: 700;
    color: white;
    text-shadow: 0 0 0.4em white;
    user-select: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.accounts-container {
    display: flex;
    margin: var(--lumo-space-m);
    flex-wrap: wrap
}

.account {
    align-items: center;
    justify-content: center;
    background-color: var(--lumo-background-color);
    border-radius: var(--lumo-border-radius-m);
    border: 1px solid transparent;
    display: flex;
    padding: 0.5rem 1rem;
    transition: all .2s ease-in-out;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.account:hover {
    background-color: var(--lumo-shade-10pct);
    border-color: var(--lumo-primary-color);
    color: var(--lumo-primary-color);
    cursor: pointer;
}

.account.selected {
    background-color: var(--lumo-shade-10pct);
    border-color: var(--lumo-primary-color);
    color: var(--lumo-primary-color);
    cursor: pointer;
}

.rank-card {
    box-shadow: var(--lumo-box-shadow-s);
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100px;
}

.summoner-name-card {
    box-shadow: var(--lumo-box-shadow-s);
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-background-color);
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    padding: 0;
}

.info p {
    margin-bottom: -8px;
    margin-top: 0;
    margin-right: 20px;
    white-space: nowrap;
}

.background {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: .65;
    position: relative;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
}

.badge {
    width: 32px;
    height: 32px;
    user-select: none;
    transition: all .2s ease-in-out;
}

.badge:hover {
    scale: 1.1;
}

#heading {
    align-items: center;
    border-left: 4px solid var(--lumo-primary-color);
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    color: white;
}

#bold {
    font-weight: 600;
}

#time {
    font-weight: 400;
    color: var(--lumo-tint-40pct);
}

@media screen and (max-width: 1120px) {

    .profile-container {
        display: flex;
        flex-direction: column;
    }

    .card-profile-layout {
        width: 100%;
        text-align: center;
    }

    .card-profile, .rankings-card {
        flex: 1;
        width: -webkit-fill-available;
        height: auto;
    }

    .rankings-card-layout {
        width: 100%;
        text-align: center;
    }

    .ranking-keypoint, .global-keypoint, .role-keypoint {
        width: 100%;
    }

    .profile-card-image {
        width: 30%;
        height: auto;
    }


    .profile-role-image {
        width: 15%;
        height: auto;
    }

    .info-container {
        width: 100%;
    }

    .rank-card {
        width: 100%;
    }

    .accounts-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }

    .account {
        width: auto;
    }

    .last-summoner-names {
        width: 100%;
    }

    #heading {
        width: 100%;
        text-align: center;
    }
}
